<main id="home">
    <div id="title-container">
        <h1>Le gaec de la Nine et du Didier</h1>
    </div>
    <div id="catc-container">
        <p>Manger bien, manger serein...</p>
    </div>
</main>
<div id="home-button-container" class="button-container d-flex justify-content-center align-content-center">
    <button class="btn" id="rooster">Cliquez !</button>
    <audio id="crow" src="{{ asset('audio/rooster_crow.mp3') }}"></audio>
</div>