.appear {
  opacity: 0;
  animation: appear .3s ease-in-out .1s forwards;
}

.appear-one {
  opacity: 0;
  animation: appear .3s ease-in-out .3s forwards;
}

.appear-two {
  opacity: 0;
  animation: appear .3s ease-in-out .5s forwards;
}

.appear-three {
  opacity: 0;
  animation: appear .3s ease-in-out .7s forwards;
}

.appear-four {
  opacity: 0;
  animation: appear .3s ease-in-out .9s forwards;
}

.appear-five {
  opacity: 0;
  animation: appear .3s ease-in-out 1.1s forwards;
}

.appear-six {
  opacity: 0;
  animation: appear .3s ease-in-out 1.3s forwards;
}

.appear-seven {
  opacity: 0;
  animation: appear .3s ease-in-out 1.5s forwards;
}