table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ddd;
    animation: appear .2s ease-in-out .2s forwards;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}